<section class="menu">
  <button mat-button [matMenuTriggerFor]="menu">Home</button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/home">home</a>
    <a mat-menu-item routerLink="/goods">goods</a>
  </mat-menu>
  <button mat-button >
    <a mat-menu-item routerLink="/signup">Register</a>
  </button>
  <section class="account-block">
    <mat-chip-list>
      <mat-chip><a routerLink="/login">login</a></mat-chip>
      <mat-chip><a routerLink="/signup">signup</a></mat-chip>
    </mat-chip-list>
  </section>
</section>

